@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  --accent-colour: rgb(53, 121, 139);
}

/* Background start */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	        animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Background end */



/* Navigation bar */

.topnav {
	background-color: rgba(51, 51, 51, 0.849);
	overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #82bfca;
	color: white;
  }

/* Navigation bar end */


/* Gallery start */

.gallery {
	width: 600px; 
	height: 400px;
}

div.gallery {
	margin: 10px;
	border: 2px solid #ccc;
	float: left;
	width: 270px;
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	height: 300px;
  }
  
  div.desc {
	padding: 10px;
	text-align: center;
	color: rgb(211, 168, 211);
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
  }
/* Gallery end */


h1 {
  font-family: 'Staatliches', cursive;
  color: var(--accent-colour);
  text-align: center;
  text-decoration: underline;
  font-size: 70px;

}

p {
  color: white;
  text-align: justify;
  font-family: 'Roboto Slab', serif;
}

#information {
  border: 2px solid black;
  padding: 20px;
}

#first_image {
	width:300px; 
	height:300px; 
	border: 3px dashed black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ol{
  background:rgba(200, 162, 200, 0.4);
}

.button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #c980c9;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #79428f}
  
  .button:active {
	background-color: #975897;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
	margin: 0 0 20px;
  }