/*
media queries for buttons
*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-button {
    display: grid;
    padding: 14px;
    align-content: space-evenly;
}

@media {
    .grid-container (max-width: 350px) {
        height: 100px;
    }

    .grid-button (max-width: 350px) {
        grid-template-columns: auto;
        grid-template-rows: 33% 33% 33%;
        background-color: black;
        padding: 12px;
    }
}

@media {
    .grid-container (max-width: 600px) {
        grid-template-columns: auto auto auto;
        justify-content: space-around;
    }
}







